html,
body,
div,
iframe,
header,
footer,
button,
form,
ul,
li,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
#root {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", verdana, arial, helvetica, sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  color-scheme: light dark;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
